<div class="container mt-5">
  <div class="text-center mb-5">
    <h1>Welcome, {{ formatText(firstName) }}!</h1>
  </div>
  <div class="mt-4 text-center">
    <button class="btn btn-primary mx-2" (click)="navigateTo('budget-type')">Budget Type</button>
    <button class="btn btn-secondary mx-2" (click)="navigateTo('budget-subtype')">Budget Subtype</button>
    <button class="btn btn-success mx-2" (click)="navigateTo('movements')">Movements</button>
    <button class="btn btn-danger mx-2" (click)="navigateTo('invoices')">Invoices</button>
    <button class="btn btn-primary mx-2" (click)="navigateTo('payments')">Payments</button>
  </div>
</div>
