<div class="container-fluid card reset-password-container" style="margin-top: 5%;">
  <h3 class="text-center">Reset Password</h3>
  <hr>
  <div class="mb-3">
    <label for="newPassword" class="form-label">New Password</label>
    <input [(ngModel)]="newPassword" type="password" class="form-control" id="newPassword" placeholder="Enter new password">
  </div>
  <div class="mb-3">
    <label for="confirmNewPassword" class="form-label">Confirm New Password</label>
    <input [(ngModel)]="confirmNewPassword" type="password" class="form-control" id="confirmNewPassword" placeholder="Confirm new password">
  </div>
  <div *ngIf="passwordsDontMatch" class="text-danger mb-3">
    Passwords do not match.
  </div>
  <div *ngIf="passwordsEmpty" class="text-danger mb-3">
    All fields are required.
  </div>
  <div class="d-flex justify-content-between mb-3">
    <button (click)="resetPassword()" type="button" class="btn btn-primary">
      Reset Password
    </button>
  </div>
</div>
