<div class="modal-overlay" *ngIf="showModal"></div>
<div class="modal" tabindex="-1" [ngClass]="{ 'show': showModal }" style="display: block;" *ngIf="showModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-between align-items-center">
        <h5 class="modal-title">{{ mode === 'update' ? 'Update Password' : 'Confirm Password' }}</h5>
        <button type="button" class="close" (click)="closeModal()">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmitPassword()">
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" [(ngModel)]="password" name="Password" required (input)="checkPasswordsMatch()">
          </div>
          <div *ngIf="mode === 'confirm'" class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" class="form-control" [(ngModel)]="confirmPassword" name="confirmPassword" (input)="checkPasswordsMatch()" required>
          </div>
          <div *ngIf="mode === 'update'" class="form-group">
            <label for="newPassword">New Password</label>
            <input type="password" id="newPassword" class="form-control" [(ngModel)]="newPassword" name="newPassword" (input)="checkPasswordsMatch()" required>
          </div>
          <div *ngIf="mode === 'update'" class="form-group">
            <label for="confirmNewPassword">Confirm New Password</label>
            <input type="password" id="confirmNewPassword" class="form-control" [(ngModel)]="confirmNewPassword" name="confirmNewPassword" (input)="checkPasswordsMatch()" required>
          </div>
          <div *ngIf="passwordsEmpty" class="text-danger">
            All fields are required!
          </div>
          <div *ngIf="passwordsDontMatch && !passwordsEmpty" class="text-danger">
            Passwords do not match!
          </div>
          <button type="submit" class="btn btn-primary"
                  [disabled]="(mode === 'confirm' && password !== confirmPassword) || (mode === 'update' && newPassword !== confirmNewPassword)"
                  style="margin-top: 10px;">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
